ul li {
    float: right;
    list-style: none;
    margin-left: 10px;
    margin-top: 30px;
    margin-right: 40px;
    font-size: 15px;
    color: black
}
.list {
/*            background-color: whitesmoke;*/
    width: auto;
    height: 80px;
}

.titleback {
    background: linear-gradient(rgba(255,255,255,0.37), rgba(255,255,255,0.37)),url("back2.webp");
   
    width: auto;
    height: 500px;
/*            background: transparent*/
/*            background-color: red*/
    background-blend-mode:screen
}
.title{
    width: auto;
    height: 420px;
/*            padding: 120px 0px 0px 100px;*/
/*            background-color: aqua*/
}
h1{
    padding: 120px 40px 0px 80px;
    text-align: center;
    color: rgba(50, 0, 251, 0.89);
    text-shadow: 2px 4px rgb(254, 254, 254);
    text-transform: uppercase;
}
.bg-parlex {
    padding-top: 0px;
    background: url("back1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.parlex-back {
    padding: 30px 0;
    background-color: rgba(0, 0, 0, 0.37);
    color: #FDFDFD !important;
}
h2{
    text-align: center;
    text-transform: uppercase;
    color: rgb(255, 253, 253);
    text-shadow: 1px 2px rgb(12, 12, 12);
}
.text{
    text-align: justify;
    text-indent: 50px;
    word-spacing: 5px;
    font-family: "Times New Roman";
    font-size: 25px;
    margin: 10px 20px 0px 20px;
}
.team{
    background-image: url("back1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main{
    width: 1260px;
    height: 240px;
}
.image{
    width: 630px;
    height: 240px;
    float: left;
}
.ns{
    width: 180px;
    height: 240px;
    float: left;
}
.nstext{
    width: 450px;
    height: 240px;
    float: right;
    background-color: whitesmoke;
}
.imagetext{
    width: 630px;
    height: 240px;
    float: right;
}
.grouptext{
    padding: 60px 10px 0px 10px;
/*            text-align: center;*/
    font-size: 30px;
}
/* .close{
    cursor: pointer;
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 0px 16px;
    transform: translate(0%,-50%);
}
.close:hover{
    background: #bbb;
}
.flash{
    margin: 0px 20px 0px 20px;
    background-color: aqua;
} */
