.container{
    margin-top: 50px;
    margin-right: 600px;
    background:url("../images/back.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
   
}
input,button{
       outline: 0;
       border-width: 0 0 2px;
       border-bottom: outset;
       width: 350px;
       margin: 0px 0px 0px 0px;
       height: 40px;
       background: transparent;
 }
button{
    margin-left: 90px;
}
p{
    margin:20px 0px 0px 150px;
}
.form{
    width: 50%;
    height: auto;
}
h1{
    text-align: center;
}
.icon {
   padding: 10px;
   background: dodgerblue;
   color: white;
   min-width: 50px;
   text-align: center;
    margin-left: 60px;
 }
#mess{
     margin:10px 0px 0px 120px;
    color: red;
    display: none;
}